
"address": {
  "@type": "PostalAddress",
  "streetAddress": "{{ address.streetAddress }}",
  "addressLocality": "{{ address.addressLocality }}",
  "addressRegion": "{{ address.addressRegion }}",
  "postalCode": "{{ address.postalCode }}",
  "addressCountry": "{{ address.addressCountry }}"
}